<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog</title>
</head>
<body>
    <h1>DOG</h1>
    <p>Tom and Jerry, American animated cartoon series about a hapless cat’s <br>
     never-ending pursuit of a clever mouse. Not yet named in their debut theatrical <br>
     short, Puss Gets the Boot (1940), Tom (the scheming cat) and Jerry (the spunky mouse) <br>
     nonetheless were a hit with audiences. Animators William Hanna and Joseph Barbera produced <br>
     more than 100 episodes for Metro-Goldwyn-Mayer (MGM). Several of these—including Yankee Doodle Mouse (1943), <br>
     The Cat Concerto</p><br>
     <marquee><img src="https://hobbydb-production.s3.amazonaws.com/processed_uploads/subject_photo/subject_photo/image/34894/1513307715-29010-4102/Spike_20Bulldog.jpg"style="width:500px;"></marquee><br>
     <a href="{%url 'app1:tom'%}">Navigate to tom</a><br>
     <a href="{%url 'app2:jerry'%}">Navigate to jerry</a><br>
</body>
</html>