<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOM</title>
</head>
<body>
    <h1>tom</h1>
    <p>Tom and Jerry, American animated cartoon series about a hapless<br>
     cat’s never-ending pursuit of a clever mouse. Not yet named in their<br> 
     debut theatrical short, Puss Gets the Boot (1940), Tom (the scheming cat)<br> 
     and Jerry (the spunky mouse) nonetheless were a hit with audiences. Animators <br>
     William Hanna and Joseph Barbera produced more than 100 episodes for Metro-Goldwyn-Mayer<br>
     (MGM). Several of these—including Yankee Doodle Mouse (1943), The Cat Concerto</p><br>
     <marquee><img src="https://th.bing.com/th/id/OIP.92UBIhfpcWbEEDIiH_PVBgHaNC?pid=ImgDet&rs=1"style="width:100px;"></marquee><br>
     <a href="{%url 'dog'%}">Navigate to tom</a><br>
     <a href="{%url 'app2:jerry'%}">Navigate to jerry</a><br>
</body>
</html>